<?xml version="1.0" encoding="utf-8" ?>
<!-- 
  You can download PNG Crush here: http://pmt.sourceforge.net/pngcrush/
  Jpegtran is available here: http://jpegclub.org/jpegtran/
-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:x="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <settings>
      <setting name="imageOptimizer.pngCommand" value="$(dataFolder)/pngquant.exe" />
      <setting name="imageOptimizer.pngOptions" value="--force --verbose --ordered --speed=1 --quality=50-90 {0}" />
      <setting name="imageOptimizer.jpgCommand" value="$(dataFolder)/jpegtran.exe" />
      <setting name="imageOptimizer.jpgOptions" value="-copy none -progressive -optimize {0} {1}" />
      <setting name="imageOptimizer.PoolingInterval" value="500" />
    </settings>
    <commands>
      <command name="media:compress" type="ImageOptimizerV2.ImageOptimizer.OptimizeImageCommand, ImageOptimizerV2"/>
      <command name="media:compressfolder" type="ImageOptimizerV2.ImageOptimizer.OptimizeFolderCommand, ImageOptimizerV2"/>
    </commands>
    <events>
      <event name="item:saved">
        <handler type="ImageOptimizerV2.ImageOptimizer.CompressImageHandler, ImageOptimizerV2" method="OnItemSaved"/>
      </event>
    </events>
  </sitecore>
</configuration>